<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VoodooPadBundleVersion</key>
	<integer>5</integer>
	<key>isEncrypted</key>
	<false/>
	<key>uuid</key>
	<string>9eef449e-6300-4e37-8e22-193dc5d9ac12</string>
</dict>
</plist>
