<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aliases</key>
	<array/>
	<key>attributes</key>
	<dict>
		<key>documentBackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>lastEditingComputerName</key>
		<string>Pheonix</string>
		<key>lastEditingUserName</key>
		<string>Huan WANG</string>
	</dict>
	<key>categories</key>
	<array/>
	<key>createdDate</key>
	<date>2012-12-24T15:07:09Z</date>
	<key>dataHash</key>
	<string>813e5339a27abe8e11a7bef047b20afc4fb556d2</string>
	<key>displayName</key>
	<string>Index</string>
	<key>encrypted</key>
	<string>No</string>
	<key>key</key>
	<string>index</string>
	<key>metaValues</key>
	<dict/>
	<key>modifiedDate</key>
	<date>2012-12-24T15:10:46Z</date>
	<key>shouldHighlightLinks</key>
	<string>Yes</string>
	<key>skipOnExport</key>
	<string>No</string>
	<key>uti</key>
	<string>com.apple.rtfd</string>
	<key>uuid</key>
	<string>20a65b67-d1a3-4420-baae-e207bb6a6e00</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
