<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allowPluginLinks</key>
	<true/>
	<key>bdToBookmarkAliasUpgrade</key>
	<true/>
	<key>createSpotlightIndex</key>
	<true/>
	<key>dbVersion</key>
	<string>7</string>
	<key>defaultPage</key>
	<string>Index</string>
	<key>defaultUUID</key>
	<string>bb43331d-d081-4e4d-aa14-4d696c82ba55</string>
	<key>expectedPageCount</key>
	<integer>1</integer>
	<key>localWebAccess</key>
	<false/>
	<key>openWindows</key>
	<array>
		<dict>
			<key>displayUUID</key>
			<string>bb43331d-d081-4e4d-aa14-4d696c82ba55</string>
			<key>drawerOpen</key>
			<false/>
			<key>openUUIDProperties</key>
			<array>
				<dict>
					<key>itemUUID</key>
					<string>bb43331d-d081-4e4d-aa14-4d696c82ba55</string>
					<key>rulerVisible</key>
					<false/>
					<key>selectedRange</key>
					<string>{17, 0}</string>
					<key>visibleGlyphs</key>
					<string>{0, 17}</string>
					<key>zoomScale</key>
					<real>1</real>
				</dict>
			</array>
			<key>windowFrame</key>
			<string>{{79, 191}, {632, 648}}</string>
		</dict>
	</array>
	<key>skIndexVersion</key>
	<integer>7</integer>
	<key>updatedFMPageToRealUTIs</key>
	<true/>
	<key>updatedSpecialPages3</key>
	<true/>
	<key>uuid</key>
	<string>1456bb4e-296b-49dc-8ab2-f6e07a2022c0</string>
</dict>
</plist>
