<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VoodooPadBundleVersion</key>
	<integer>5</integer>
	<key>isEncrypted</key>
	<false/>
	<key>uuid</key>
	<string>1456bb4e-296b-49dc-8ab2-f6e07a2022c0</string>
</dict>
</plist>
