<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>13e48fbc-7a84-43ec-9e3e-47946fac35ec</key>
	<string>Research</string>
	<key>15593744-b849-44d6-914f-b369b991e689</key>
	<string>ToDo</string>
	<key>8464cadf-54ce-49db-aca7-c19710a783d4</key>
	<string>Read Later</string>
	<key>886bf33f-a358-4508-9be4-3031a96e4760</key>
	<string>Home</string>
	<key>e21c9e4d-691f-4e93-b221-027dc2c5f7a5</key>
	<string>Work</string>
</dict>
</plist>
